<footer>
  <div class="footer-container px-4 py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 align-self-center">
          <ul class="list-unstyled">
            <li><a href="https://github.com/ALRobilliard" target="_blank"><i class="bi bi-github"></i> alrobilliard</a>
            </li>
            <li><a href="https://bsky.app/profile/andrewrobilliard.com" target="_blank"><i class="bi bi-bluesky"></i>
              @@andrewrobilliard.com</a></li>
              <li><a href="https://www.linkedin.com/in/andrew-robilliard/" target="_blank"><i class="bi bi-linkedin"></i>
                andrew-robilliard</a></li>
                <li><a href="https://www.threads.com/@@andrew.robilliard" target="_blank"><i class="bi bi-threads"></i>
                  andrew.robilliard</a></li>
                </ul>
              </div>
              <div class="col-6 align-self-center">
                <p>A personal blog by Andrew Robilliard where he collects his thoughts and learnings on Microsoft Dynamics
                  365, PowerApps, Common Data Service, Azure, ASP.NET Core or what ever else he's into.</p>
                </div>
              </div>
            </div>
          </div>
        </footer>