@page "/about-me"

<PageTitle>About Me | Andrew Robilliard</PageTitle>

<h1>About Me</h1>

<p>I'm Andrew Robilliard, a software developer working primarily within the Microsoft ecosystem. Currently, I'm working
  as
  a Dynamics 365 (CE) Technical Lead at <a href="https://www.walkerscott.com/" target="_blank">Walkerscott</a>. Spending
  my time with <mark>Microsoft Dataverse</mark> and the <mark>Power Platform</mark>
  brings me into contact with numerous technologies and languages including: <mark>C#</mark>,
  <mark>JavaScript/TypeScript</mark>, <mark>SQL</mark>, the <mark>Azure</mark>
  platform, and many others.
</p>

<p>These days, I undertake the full software develivery lifecycle. Defining, developing, testing and maintaining
software implementations for a wide range of clients and solutions.</p>

<hr />

<h2>👨‍💻 Employment</h2>

<h3>Walkerscott</h3>
<p><strong>Technical Lead</strong> - August 2024 - Present</p>
<h3>Capgemini</h3>
<p><strong>Lead Technical Consultant</strong> - Sept. 2022 - July 2024</p>
<p><strong>Senior Developer</strong> - July 2022 - Aug. 2022</p>
<h3>Intergen</h3>
<p><strong>Senior Developer</strong> - Jan. 2018 - June 2022</p>
<h3>Other Roles</h3>
<p><strong>Senior Developer</strong> - May 2021 - June 2022</p>
<p><strong>Software Developer</strong> - July 2019 - April 2021</p>
<p><strong>Associate Developer</strong> - Feb. 2019 - June 2019</p>
<p><strong>Graduate Developer</strong> - Jan. 2018 - Jan. 2019</p>

<hr />

<h2>🎓 Education</h2>

<h3>The University of Auckland</h3>
<p><strong>Bachelor of Science (BSc)</strong> - Computer Science, Information Systems - Jan. 2015 - Dec. 2017</p>