@page "/contact"

<PageTitle>Contact | Andrew Robilliard</PageTitle>

<h1>Contact</h1>

<p>Hi, I'm Andrew Robilliard, a full-stack developer. I build things in JavaScript, C#, and a few other tools
toachievethebest outcomes for businesses and their users.</p>

<hr />

<h2>Around the web</h2>

Email: andrew_robilliard@outlook.com
DEV.to: alrobilliard
LinkedIn: andrew-robilliard
GitHub: alrobilliard
Bluesky: "@@andrewrobilliard.com"