@page "/"

<PageTitle>Home | Andrew Robilliard</PageTitle>

<h1>Hey, I'm Andrew 👋</h1>

<p>I'm Andrew Robilliard, a software developer working primarily within the Microsoft ecosystem.</p>

<p>These days, my time is filled with <mark>Microsoft Dataverse</mark> and the <mark>Microsoft Power Platform</mark>. I
  frequently write code
  using
  <mark>C#</mark>, <mark>JavaScript/TypeScript</mark>, and <mark>SQL</mark>.
</p>

<PostView PostName="blog/dotnet-to-heroku" />

<p>Sometimes, I tweet about my thoughts, my side-projects, or anything else that's on my mind. <a
href="https://bsky.app/profile/andrewrobilliard.bsky.social" target="_blank">Maybe you should follow me on
Bluesky?</a></p>